<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1._A2</key>
  <array>
    <string>A</string>
    <string>Abreve</string>
    <string>Acyr</string>
    <string>Amacron</string>
    <string>Aogonek</string>
  </array>
  <key>public.kern1._C_left</key>
  <array>
    <string>C</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Escyr</string>
    <string>Eukrcyr</string>
  </array>
  <key>public.kern1._E_left</key>
  <array>
    <string>AE</string>
    <string>E</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Iecyr</string>
  </array>
  <key>public.kern1._Geupcyr2_left</key>
  <array>
    <string>Gecyr</string>
    <string>Geupcyr</string>
    <string>Gjecyr</string>
    <string>T</string>
    <string>Tecyr</string>
  </array>
  <key>public.kern1._Geupcyr_left</key>
  <array>
    <string>gecyr</string>
    <string>geupcyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern1._Hardcyr_left</key>
  <array>
    <string>Hardcyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Softcyr</string>
  </array>
  <key>public.kern1._J_left</key>
  <array>
    <string>J</string>
    <string>Jecyr</string>
  </array>
  <key>public.kern1._K_left</key>
  <array>
    <string>Hacyr</string>
    <string>K</string>
    <string>Kacyr</string>
    <string>Kjecyr</string>
    <string>X</string>
    <string>Zhecyr</string>
  </array>
  <key>public.kern1._O_left</key>
  <array>
    <string>D</string>
    <string>Ereversedcyr</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>O</string>
    <string>Obreve</string>
    <string>Ocyr</string>
    <string>Omacron</string>
    <string>Q</string>
    <string>Schwa</string>
    <string>Schwacyr</string>
    <string>Schwadieresiscyr</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern1._S_left</key>
  <array>
    <string>Dzecyr</string>
    <string>S</string>
    <string>Scaron</string>
    <string>Scedilla</string>
  </array>
  <key>public.kern1._V_left</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1._W_left</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern1._Ycyr_left</key>
  <array>
    <string>Ucyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern1._Ycyr_left1</key>
  <array>
    <string>Ucyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern1._a_left</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acyr</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1._c_left</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cent</string>
    <string>escyr</string>
    <string>eukrcyr</string>
  </array>
  <key>public.kern1._hardcyr2_left</key>
  <array>
    <string>hardcyr</string>
    <string>ljecyr</string>
    <string>njecyr</string>
    <string>softcyr</string>
  </array>
  <key>public.kern1._k_leftside</key>
  <array>
    <string>hacyr</string>
    <string>k</string>
    <string>kacyr</string>
    <string>kjecyr</string>
    <string>x</string>
    <string>zhecyr</string>
  </array>
  <key>public.kern1._o_leftside</key>
  <array>
    <string>b</string>
    <string>becyr</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>efcyr</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>ercyr</string>
    <string>ereversedcyr</string>
    <string>iecyr</string>
    <string>iocyr</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>ocyr</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>otilde</string>
    <string>p</string>
    <string>schwa</string>
    <string>schwacyr</string>
    <string>schwadieresiscyr</string>
    <string>yucyr</string>
  </array>
  <key>public.kern1._plecho2_left</key>
  <array>
    <string>Decyr</string>
    <string>Shchacyr</string>
    <string>Tsecyr</string>
  </array>
  <key>public.kern1._plecho_left</key>
  <array>
    <string>decyr</string>
    <string>shchacyr</string>
    <string>tsecyr</string>
  </array>
  <key>public.kern1._s_left</key>
  <array>
    <string>dzecyr</string>
    <string>s</string>
    <string>scaron</string>
    <string>scedilla</string>
  </array>
  <key>public.kern1._y_left</key>
  <array>
    <string>ucyr</string>
    <string>ushortcyr</string>
    <string>v</string>
    <string>y</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern2._A</key>
  <array>
    <string>A</string>
    <string>Abreve</string>
    <string>Acyr</string>
    <string>Amacron</string>
    <string>Aogonek</string>
  </array>
  <key>public.kern2._Geupcyr2_right</key>
  <array>
    <string>T</string>
    <string>Tecyr</string>
  </array>
  <key>public.kern2._Geupcyr_right</key>
  <array>
    <string>gecyr</string>
    <string>geupcyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern2._J_right</key>
  <array>
    <string>J</string>
    <string>Jecyr</string>
  </array>
  <key>public.kern2._K_right</key>
  <array>
    <string>Hacyr</string>
    <string>X</string>
    <string>Zhecyr</string>
  </array>
  <key>public.kern2._O_right</key>
  <array>
    <string>C</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Escyr</string>
    <string>Eukrcyr</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>O</string>
    <string>Ocyr</string>
    <string>Q</string>
    <string>Schwa</string>
  </array>
  <key>public.kern2._P_left</key>
  <array>
    <string>Ercyr</string>
    <string>P</string>
  </array>
  <key>public.kern2._S_right</key>
  <array>
    <string>Dzecyr</string>
    <string>S</string>
    <string>Scaron</string>
    <string>Scedilla</string>
  </array>
  <key>public.kern2._Ucyr</key>
  <array>
    <string>Ucyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern2._V_right</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2._W_right</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern2._a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acyr</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2._k_rightside</key>
  <array>
    <string>hacyr</string>
    <string>x</string>
    <string>zhecyr</string>
  </array>
  <key>public.kern2._o_rightside</key>
  <array>
    <string>a.ss01</string>
    <string>aacute.ss01</string>
    <string>abreve.ss01</string>
    <string>acircumflex.ss01</string>
    <string>adieresis.ss01</string>
    <string>agrave.ss01</string>
    <string>amacron.ss01</string>
    <string>aogonek.ss01</string>
    <string>aring.ss01</string>
    <string>atilde.ss01</string>
    <string>c</string>
    <string>ccedilla</string>
    <string>d</string>
    <string>e</string>
    <string>efcyr</string>
    <string>escyr</string>
    <string>eukrcyr</string>
    <string>g.ss02</string>
    <string>gbreve.ss02</string>
    <string>gcircumflex.ss02</string>
    <string>iecyr</string>
    <string>iocyr</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>ocyr</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>otilde</string>
    <string>q</string>
    <string>schwa</string>
    <string>schwacyr</string>
    <string>schwadieresiscyr</string>
  </array>
  <key>public.kern2._s_right</key>
  <array>
    <string>dzecyr</string>
    <string>s</string>
    <string>scaron</string>
    <string>scedilla</string>
  </array>
  <key>public.kern2._y_right</key>
  <array>
    <string>ucyr</string>
    <string>ushortcyr</string>
    <string>v</string>
    <string>y</string>
    <string>ydieresis</string>
  </array>
  <key>ss01</key>
  <array>
    <string>a</string>
    <string>acyr</string>
    <string>acircumflex</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>aogonek</string>
    <string>adieresiscyr</string>
    <string>abrevecyr</string>
  </array>
  <key>ss012</key>
  <array>
    <string>a.ss01</string>
    <string>acyr.ss01</string>
    <string>acircumflex.ss01</string>
    <string>agrave.ss01</string>
    <string>aacute.ss01</string>
    <string>atilde.ss01</string>
    <string>adieresis.ss01</string>
    <string>aring.ss01</string>
    <string>amacron.ss01</string>
    <string>abreve.ss01</string>
    <string>aogonek.ss01</string>
    <string>adieresiscyr.ss01</string>
    <string>abrevecyr.ss01</string>
  </array>
  <key>ss02</key>
  <array>
    <string>g</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
  </array>
  <key>ss022</key>
  <array>
    <string>g.ss02</string>
    <string>gcircumflex.ss02</string>
    <string>gbreve.ss02</string>
    <string>gdotaccent.ss02</string>
  </array>
</dict>
</plist>
