<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>Y</key>
    <integer>-33</integer>
    <key>w</key>
    <integer>-10</integer>
    <key>public.kern2._A</key>
    <integer>-16</integer>
    <key>public.kern2._V_right</key>
    <integer>-22</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-14</integer>
    <key>public.kern2._y_right</key>
    <integer>-14</integer>
  </dict>
  <key>Becyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-36</integer>
    <key>Decyr</key>
    <integer>-20</integer>
    <key>Elcyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-42</integer>
    <key>Tshecyr</key>
    <integer>-40</integer>
    <key>Yacyr</key>
    <integer>-18</integer>
    <key>becyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>decyr</key>
    <integer>-10</integer>
    <key>elcyr</key>
    <integer>-20</integer>
    <key>ereversedcyr</key>
    <integer>-10</integer>
    <key>hardcyr</key>
    <integer>-20</integer>
    <key>tecyr</key>
    <integer>-10</integer>
    <key>public.kern2._A</key>
    <integer>-15</integer>
    <key>public.kern2._K_right</key>
    <integer>-18</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>public.kern2._J_right</key>
    <integer>-4</integer>
    <key>public.kern2._O_right</key>
    <integer>-6</integer>
  </dict>
  <key>Decyr</key>
  <dict>
    <key>ereversedcyr</key>
    <integer>-10</integer>
    <key>yacyr</key>
    <integer>-20</integer>
  </dict>
  <key>Djecyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-50</integer>
    <key>Djecyr</key>
    <integer>-60</integer>
    <key>Tshecyr</key>
    <integer>-60</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-70</integer>
    <key>public.kern2._K_right</key>
    <integer>-30</integer>
    <key>public.kern2._O_right</key>
    <integer>-10</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-72</integer>
  </dict>
  <key>Efcyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-16</integer>
    <key>Decyr</key>
    <integer>-39</integer>
    <key>Djecyr</key>
    <integer>-44</integer>
    <key>Elcyr</key>
    <integer>-16</integer>
    <key>Hardcyr</key>
    <integer>-34</integer>
    <key>Ljecyr</key>
    <integer>-20</integer>
    <key>Yacyr</key>
    <integer>-14</integer>
    <key>Zecyr</key>
    <integer>-12</integer>
    <key>decyr</key>
    <integer>-30</integer>
    <key>elcyr</key>
    <integer>-40</integer>
    <key>yacyr</key>
    <integer>-10</integer>
    <key>public.kern2._A</key>
    <integer>-51</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-44</integer>
    <key>public.kern2._J_right</key>
    <integer>-10</integer>
    <key>public.kern2._K_right</key>
    <integer>-52</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-56</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-10</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-50</integer>
    <key>Elcyr</key>
    <integer>-70</integer>
    <key>Ljecyr</key>
    <integer>-51</integer>
    <key>Y</key>
    <integer>-42</integer>
    <key>decyr</key>
    <integer>-42</integer>
    <key>yacyr</key>
    <integer>-20</integer>
    <key>public.kern2._A</key>
    <integer>-45</integer>
    <key>public.kern2._J_right</key>
    <integer>-60</integer>
    <key>public.kern2._K_right</key>
    <integer>-36</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-30</integer>
  </dict>
  <key>Escyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-10</integer>
    <key>ereversedcyr</key>
    <integer>-20</integer>
    <key>public.kern2._A</key>
    <integer>-9</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>J</key>
    <integer>-42</integer>
    <key>f</key>
    <integer>-12</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-20</integer>
    <key>j</key>
    <integer>-20</integer>
    <key>k</key>
    <integer>-20</integer>
    <key>l</key>
    <integer>-18</integer>
    <key>m</key>
    <integer>-40</integer>
    <key>n</key>
    <integer>-40</integer>
    <key>p</key>
    <integer>-40</integer>
    <key>r</key>
    <integer>-42</integer>
    <key>s</key>
    <integer>-36</integer>
    <key>t</key>
    <integer>-19</integer>
    <key>u</key>
    <integer>-42</integer>
    <key>w</key>
    <integer>-30</integer>
    <key>z</key>
    <integer>-50</integer>
    <key>public.kern2._O_right</key>
    <integer>-20</integer>
    <key>public.kern2._a</key>
    <integer>-30</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-45</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-33</integer>
    <key>public.kern2._y_right</key>
    <integer>-30</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>g</key>
    <integer>-5</integer>
  </dict>
  <key>Iecyr</key>
  <dict>
    <key>ereversedcyr</key>
    <integer>-10</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>J</key>
    <integer>-16</integer>
    <key>U</key>
    <integer>-42</integer>
    <key>Y</key>
    <integer>-90</integer>
    <key>f</key>
    <integer>-10</integer>
    <key>s</key>
    <integer>-3</integer>
    <key>t</key>
    <integer>-32</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>w</key>
    <integer>-52</integer>
    <key>public.kern2._O_right</key>
    <integer>-14</integer>
    <key>public.kern2._S_right</key>
    <integer>-20</integer>
    <key>public.kern2._V_right</key>
    <integer>-66</integer>
    <key>public.kern2._a</key>
    <integer>-2</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-1</integer>
    <key>public.kern2._y_right</key>
    <integer>-54</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>J</key>
    <integer>-90</integer>
    <key>S</key>
    <integer>-20</integer>
    <key>Y</key>
    <integer>-42</integer>
    <key>Z</key>
    <integer>-18</integer>
    <key>g</key>
    <integer>-18</integer>
    <key>m</key>
    <integer>-8</integer>
    <key>n</key>
    <integer>-8</integer>
    <key>s</key>
    <integer>-16</integer>
    <key>t</key>
    <integer>6</integer>
    <key>public.kern2._A</key>
    <integer>-64</integer>
    <key>public.kern2._K_right</key>
    <integer>-40</integer>
    <key>public.kern2._O_right</key>
    <integer>-6</integer>
    <key>public.kern2._a</key>
    <integer>-16</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-3</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-14</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>J</key>
    <integer>-42</integer>
    <key>Y</key>
    <integer>-32</integer>
    <key>s</key>
    <integer>-20</integer>
    <key>t</key>
    <integer>-10</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>w</key>
    <integer>-14</integer>
    <key>public.kern2._O_right</key>
    <integer>-20</integer>
    <key>public.kern2._a</key>
    <integer>-8</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-20</integer>
    <key>public.kern2._y_right</key>
    <integer>-8</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>f</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-20</integer>
  </dict>
  <key>Tsecyr</key>
  <dict>
    <key>becyr</key>
    <integer>-20</integer>
    <key>checyr</key>
    <integer>-42</integer>
    <key>yacyr</key>
    <integer>-20</integer>
  </dict>
  <key>Tshecyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-64</integer>
    <key>Djecyr</key>
    <integer>-60</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-70</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-72</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>g</key>
    <integer>-8</integer>
    <key>public.kern2._A</key>
    <integer>-30</integer>
  </dict>
  <key>Vecyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-20</integer>
    <key>Djecyr</key>
    <integer>-30</integer>
    <key>Elcyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-10</integer>
    <key>Tshecyr</key>
    <integer>-30</integer>
    <key>becyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>decyr</key>
    <integer>-20</integer>
    <key>elcyr</key>
    <integer>-20</integer>
    <key>ereversedcyr</key>
    <integer>-20</integer>
    <key>hardcyr</key>
    <integer>-20</integer>
    <key>tecyr</key>
    <integer>-20</integer>
    <key>yacyr</key>
    <integer>-20</integer>
    <key>zecyr</key>
    <integer>-10</integer>
    <key>public.kern2._A</key>
    <integer>-15</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-18</integer>
    <key>public.kern2._K_right</key>
    <integer>-10</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-28</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>J</key>
    <integer>-90</integer>
    <key>f</key>
    <integer>-31</integer>
    <key>g</key>
    <integer>-90</integer>
    <key>m</key>
    <integer>-60</integer>
    <key>n</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-60</integer>
    <key>r</key>
    <integer>-60</integer>
    <key>s</key>
    <integer>-80</integer>
    <key>t</key>
    <integer>-42</integer>
    <key>u</key>
    <integer>-60</integer>
    <key>w</key>
    <integer>-48</integer>
    <key>z</key>
    <integer>-60</integer>
    <key>public.kern2._A</key>
    <integer>-80</integer>
    <key>public.kern2._O_right</key>
    <integer>-38</integer>
    <key>public.kern2._S_right</key>
    <integer>-40</integer>
    <key>public.kern2._a</key>
    <integer>-70</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-54</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-96</integer>
    <key>public.kern2._y_right</key>
    <integer>-50</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>f</key>
    <integer>-20</integer>
    <key>t</key>
    <integer>-42</integer>
    <key>u</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-32</integer>
    <key>public.kern2._O_right</key>
    <integer>-20</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-8</integer>
    <key>public.kern2._y_right</key>
    <integer>-30</integer>
  </dict>
  <key>Zecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-20</integer>
    <key>ereversedcyr</key>
    <integer>-20</integer>
    <key>yacyr</key>
    <integer>-20</integer>
    <key>public.kern2._A</key>
    <integer>-15</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-24</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>t</key>
    <integer>-10</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>checyr</key>
    <integer>9</integer>
    <key>elcyr</key>
    <integer>-20</integer>
    <key>jecyr</key>
    <integer>60</integer>
    <key>ljecyr</key>
    <integer>-21</integer>
    <key>tecyr</key>
    <integer>-30</integer>
    <key>yacyr</key>
    <integer>12</integer>
    <key>yukrcyr</key>
    <integer>100</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-20</integer>
    <key>public.kern2._y_right</key>
    <integer>-30</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>public.kern2._J_right</key>
    <integer>-18</integer>
  </dict>
  <key>checyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>djecyr</key>
  <dict>
    <key>braceright</key>
    <integer>-10</integer>
  </dict>
  <key>dzhecyr</key>
  <dict>
    <key>question</key>
    <integer>-20</integer>
  </dict>
  <key>elcyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>emcyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>encyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>escyr</key>
  <dict>
    <key>Ereversedcyr</key>
    <integer>-20</integer>
    <key>decyr</key>
    <integer>-20</integer>
    <key>tecyr</key>
    <integer>-20</integer>
  </dict>
  <key>eukrcyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Ereversedcyr</key>
    <integer>-33</integer>
    <key>Hardcyr</key>
    <integer>-52</integer>
    <key>Yacyr</key>
    <integer>-20</integer>
    <key>Zecyr</key>
    <integer>-20</integer>
    <key>becyr</key>
    <integer>-20</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>elcyr</key>
    <integer>-10</integer>
    <key>ereversedcyr</key>
    <integer>-10</integer>
    <key>yacyr</key>
    <integer>-20</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>g</key>
    <integer>-8</integer>
    <key>m</key>
    <integer>-8</integer>
    <key>n</key>
    <integer>-10</integer>
    <key>r</key>
    <integer>-10</integer>
    <key>s</key>
    <integer>-13</integer>
    <key>t</key>
    <integer>-10</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>y</key>
    <integer>-20</integer>
    <key>public.kern2._A</key>
    <integer>-40</integer>
    <key>public.kern2._J_right</key>
    <integer>-64</integer>
    <key>public.kern2._a</key>
    <integer>-12</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-12</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-8</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>H</key>
    <integer>-12</integer>
    <key>N</key>
    <integer>-10</integer>
    <key>U</key>
    <integer>-8</integer>
    <key>Y</key>
    <integer>-60</integer>
    <key>Z</key>
    <integer>-12</integer>
    <key>g</key>
    <integer>12</integer>
    <key>h</key>
    <integer>-6</integer>
    <key>j</key>
    <integer>62</integer>
    <key>l</key>
    <integer>-22</integer>
    <key>t</key>
    <integer>-4</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>z</key>
    <integer>-8</integer>
    <key>public.kern2._J_right</key>
    <integer>-40</integer>
    <key>public.kern2._O_right</key>
    <integer>-24</integer>
    <key>public.kern2._S_right</key>
    <integer>-23</integer>
    <key>public.kern2._V_right</key>
    <integer>-40</integer>
    <key>public.kern2._W_right</key>
    <integer>-34</integer>
    <key>public.kern2._a</key>
    <integer>-9</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-22</integer>
    <key>public.kern2._y_right</key>
    <integer>-8</integer>
  </dict>
  <key>gecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-60</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>Y</key>
    <integer>-74</integer>
    <key>t</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-20</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-58</integer>
    <key>public.kern2._O_right</key>
    <integer>-6</integer>
    <key>public.kern2._V_right</key>
    <integer>-54</integer>
  </dict>
  <key>icyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>ishortcyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>w</key>
    <integer>-22</integer>
    <key>y</key>
    <integer>-20</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>w</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-10</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>becyr</key>
    <integer>-10</integer>
    <key>decyr</key>
    <integer>6</integer>
    <key>jecyr</key>
    <integer>80</integer>
    <key>tecyr</key>
    <integer>-10</integer>
    <key>yukrcyr</key>
    <integer>80</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-14</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-10</integer>
    <key>public.kern2._y_right</key>
    <integer>-30</integer>
  </dict>
  <key>pecyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._V_right</key>
    <integer>-40</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>Y</key>
    <integer>-34</integer>
    <key>Z</key>
    <integer>-36</integer>
    <key>g</key>
    <integer>-6</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-50</integer>
    <key>public.kern2._K_right</key>
    <integer>-36</integer>
    <key>public.kern2._a</key>
    <integer>-6</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-10</integer>
  </dict>
  <key>shacyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>Y</key>
    <integer>-50</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-20</integer>
    <key>public.kern2._J_right</key>
    <integer>-28</integer>
    <key>public.kern2._O_right</key>
    <integer>-11</integer>
    <key>public.kern2._V_right</key>
    <integer>-26</integer>
    <key>public.kern2._W_right</key>
    <integer>-13</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-4</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-40</integer>
    <key>Ereversedcyr</key>
    <integer>-42</integer>
    <key>Hardcyr</key>
    <integer>-42</integer>
    <key>braceright</key>
    <integer>-30</integer>
    <key>decyr</key>
    <integer>-42</integer>
    <key>elcyr</key>
    <integer>-32</integer>
    <key>parenright</key>
    <integer>-10</integer>
    <key>yacyr</key>
    <integer>-20</integer>
    <key>zecyr</key>
    <integer>-13</integer>
    <key>public.kern2._K_right</key>
    <integer>-30</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-50</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-14</integer>
  </dict>
  <key>tshecyr</key>
  <dict>
    <key>braceright</key>
    <integer>-20</integer>
    <key>question</key>
    <integer>-53</integer>
  </dict>
  <key>u</key>
  <dict>
    <key>Y</key>
    <integer>-60</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._V_right</key>
    <integer>-40</integer>
    <key>public.kern2._W_right</key>
    <integer>-32</integer>
  </dict>
  <key>vecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-20</integer>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>Yacyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>elcyr</key>
    <integer>-8</integer>
    <key>parenright</key>
    <integer>-8</integer>
    <key>public.kern2._K_right</key>
    <integer>-22</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-20</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>J</key>
    <integer>-42</integer>
    <key>Y</key>
    <integer>-48</integer>
    <key>Z</key>
    <integer>-32</integer>
    <key>g</key>
    <integer>-24</integer>
    <key>s</key>
    <integer>-14</integer>
    <key>public.kern2._A</key>
    <integer>-58</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-72</integer>
    <key>public.kern2._K_right</key>
    <integer>-48</integer>
    <key>public.kern2._O_right</key>
    <integer>-20</integer>
    <key>public.kern2._S_right</key>
    <integer>-24</integer>
    <key>public.kern2._V_right</key>
    <integer>-20</integer>
    <key>public.kern2._W_right</key>
    <integer>-18</integer>
    <key>public.kern2._a</key>
    <integer>-10</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-22</integer>
  </dict>
  <key>yacyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-54</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-40</integer>
  </dict>
  <key>ylongcyr</key>
  <dict>
    <key>question</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
  </dict>
  <key>yukrcyr</key>
  <dict>
    <key>braceright</key>
    <integer>100</integer>
    <key>parenright</key>
    <integer>80</integer>
    <key>question</key>
    <integer>30</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>Y</key>
    <integer>-60</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._S_right</key>
    <integer>-20</integer>
    <key>public.kern2._V_right</key>
    <integer>-42</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-2</integer>
  </dict>
  <key>zecyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-28</integer>
    <key>Decyr</key>
    <integer>-14</integer>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>Yacyr</key>
    <integer>-10</integer>
    <key>Zecyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>decyr</key>
    <integer>-10</integer>
    <key>elcyr</key>
    <integer>-8</integer>
    <key>parenright</key>
    <integer>-8</integer>
    <key>question</key>
    <integer>-49</integer>
    <key>tecyr</key>
    <integer>-10</integer>
    <key>public.kern2._A</key>
    <integer>-8</integer>
    <key>public.kern2._K_right</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-80</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-20</integer>
    <key>public.kern2._y_right</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1._A2</key>
  <dict>
    <key>Checyr</key>
    <integer>-70</integer>
    <key>Efcyr</key>
    <integer>-51</integer>
    <key>Ereversedcyr</key>
    <integer>-9</integer>
    <key>Hardcyr</key>
    <integer>-56</integer>
    <key>Tshecyr</key>
    <integer>-60</integer>
    <key>U</key>
    <integer>-30</integer>
    <key>Y</key>
    <integer>-80</integer>
    <key>becyr</key>
    <integer>-25</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>t</key>
    <integer>-38</integer>
    <key>u</key>
    <integer>-18</integer>
    <key>w</key>
    <integer>-58</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._J_right</key>
    <integer>-44</integer>
    <key>public.kern2._O_right</key>
    <integer>-36</integer>
    <key>public.kern2._S_right</key>
    <integer>-10</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-74</integer>
    <key>public.kern2._V_right</key>
    <integer>-68</integer>
    <key>public.kern2._W_right</key>
    <integer>-70</integer>
    <key>public.kern2._a</key>
    <integer>-18</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-26</integer>
    <key>public.kern2._s_right</key>
    <integer>-19</integer>
    <key>public.kern2._y_right</key>
    <integer>-66</integer>
  </dict>
  <key>public.kern1._C_left</key>
  <dict>
    <key>Elcyr</key>
    <integer>-10</integer>
    <key>Y</key>
    <integer>-26</integer>
    <key>t</key>
    <integer>-6</integer>
    <key>w</key>
    <integer>-22</integer>
    <key>z</key>
    <integer>-20</integer>
    <key>public.kern2._A</key>
    <integer>-18</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-10</integer>
    <key>public.kern2._K_right</key>
    <integer>-20</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-10</integer>
    <key>public.kern2._V_right</key>
    <integer>-22</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-24</integer>
    <key>public.kern2._s_right</key>
    <integer>-10</integer>
    <key>public.kern2._y_right</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._E_left</key>
  <dict>
    <key>f</key>
    <integer>-8</integer>
    <key>g</key>
    <integer>-6</integer>
    <key>s</key>
    <integer>-10</integer>
    <key>t</key>
    <integer>-12</integer>
    <key>u</key>
    <integer>-10</integer>
    <key>w</key>
    <integer>-19</integer>
    <key>public.kern2._J_right</key>
    <integer>-20</integer>
    <key>public.kern2._O_right</key>
    <integer>-6</integer>
    <key>public.kern2._a</key>
    <integer>-10</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-6</integer>
    <key>public.kern2._y_right</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1._Geupcyr2_left</key>
  <dict>
    <key>Decyr</key>
    <integer>-40</integer>
    <key>Efcyr</key>
    <integer>-44</integer>
    <key>Elcyr</key>
    <integer>-50</integer>
    <key>Ljecyr</key>
    <integer>-60</integer>
    <key>Yacyr</key>
    <integer>-6</integer>
    <key>checyr</key>
    <integer>-60</integer>
    <key>decyr</key>
    <integer>-70</integer>
    <key>elcyr</key>
    <integer>-80</integer>
    <key>emcyr</key>
    <integer>-60</integer>
    <key>encyr</key>
    <integer>-60</integer>
    <key>ercyr</key>
    <integer>-60</integer>
    <key>ereversedcyr</key>
    <integer>-70</integer>
    <key>f</key>
    <integer>-23</integer>
    <key>hardcyr</key>
    <integer>-50</integer>
    <key>icyr</key>
    <integer>-60</integer>
    <key>ishortcyr</key>
    <integer>-60</integer>
    <key>kacyr</key>
    <integer>-60</integer>
    <key>m</key>
    <integer>-60</integer>
    <key>n</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-60</integer>
    <key>pecyr</key>
    <integer>-60</integer>
    <key>r</key>
    <integer>-66</integer>
    <key>s</key>
    <integer>-64</integer>
    <key>shacyr</key>
    <integer>-60</integer>
    <key>shchacyr</key>
    <integer>-60</integer>
    <key>softcyr</key>
    <integer>-60</integer>
    <key>t</key>
    <integer>-23</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>tsecyr</key>
    <integer>-60</integer>
    <key>u</key>
    <integer>-62</integer>
    <key>vecyr</key>
    <integer>-60</integer>
    <key>w</key>
    <integer>-72</integer>
    <key>yacyr</key>
    <integer>-60</integer>
    <key>ylongcyr</key>
    <integer>-60</integer>
    <key>yucyr</key>
    <integer>-60</integer>
    <key>z</key>
    <integer>-60</integer>
    <key>zecyr</key>
    <integer>-60</integer>
    <key>public.kern2._A</key>
    <integer>-60</integer>
    <key>public.kern2._Geupcyr_right</key>
    <integer>-60</integer>
    <key>public.kern2._J_right</key>
    <integer>-120</integer>
    <key>public.kern2._O_right</key>
    <integer>-34</integer>
    <key>public.kern2._S_right</key>
    <integer>-16</integer>
    <key>public.kern2._a</key>
    <integer>-50</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-66</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-80</integer>
    <key>public.kern2._y_right</key>
    <integer>-74</integer>
  </dict>
  <key>public.kern1._Geupcyr_left</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-50</integer>
    <key>yacyr</key>
    <integer>-6</integer>
    <key>public.kern2._K_right</key>
    <integer>-40</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-50</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._Hardcyr_left</key>
  <dict>
    <key>Checyr</key>
    <integer>-40</integer>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Djecyr</key>
    <integer>-60</integer>
    <key>Efcyr</key>
    <integer>-6</integer>
    <key>Hardcyr</key>
    <integer>-54</integer>
    <key>Tshecyr</key>
    <integer>-60</integer>
    <key>Yacyr</key>
    <integer>-14</integer>
    <key>tecyr</key>
    <integer>-6</integer>
    <key>public.kern2._A</key>
    <integer>-18</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-50</integer>
    <key>public.kern2._K_right</key>
    <integer>-36</integer>
    <key>public.kern2._O_right</key>
    <integer>-5</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-60</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-32</integer>
    <key>public.kern2._y_right</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1._J_left</key>
  <dict>
    <key>g</key>
    <integer>-16</integer>
    <key>public.kern2._A</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1._K_left</key>
  <dict>
    <key>Efcyr</key>
    <integer>-52</integer>
    <key>ereversedcyr</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>-17</integer>
    <key>hardcyr</key>
    <integer>-40</integer>
    <key>s</key>
    <integer>-16</integer>
    <key>t</key>
    <integer>-34</integer>
    <key>tecyr</key>
    <integer>-30</integer>
    <key>u</key>
    <integer>-22</integer>
    <key>w</key>
    <integer>-48</integer>
    <key>zecyr</key>
    <integer>-4</integer>
    <key>public.kern2._J_right</key>
    <integer>-44</integer>
    <key>public.kern2._O_right</key>
    <integer>-45</integer>
    <key>public.kern2._S_right</key>
    <integer>-18</integer>
    <key>public.kern2._a</key>
    <integer>-22</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-28</integer>
    <key>public.kern2._y_right</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1._O_left</key>
  <dict>
    <key>Checyr</key>
    <integer>-11</integer>
    <key>Decyr</key>
    <integer>-17</integer>
    <key>Elcyr</key>
    <integer>-17</integer>
    <key>Hardcyr</key>
    <integer>-25</integer>
    <key>Tshecyr</key>
    <integer>-34</integer>
    <key>Y</key>
    <integer>-38</integer>
    <key>Yacyr</key>
    <integer>-18</integer>
    <key>Z</key>
    <integer>-20</integer>
    <key>Zecyr</key>
    <integer>-7</integer>
    <key>decyr</key>
    <integer>-30</integer>
    <key>g</key>
    <integer>-12</integer>
    <key>j</key>
    <integer>-2</integer>
    <key>s</key>
    <integer>-10</integer>
    <key>t</key>
    <integer>-4</integer>
    <key>w</key>
    <integer>-12</integer>
    <key>z</key>
    <integer>-8</integer>
    <key>public.kern2._A</key>
    <integer>-36</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-34</integer>
    <key>public.kern2._J_right</key>
    <integer>-10</integer>
    <key>public.kern2._K_right</key>
    <integer>-45</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-40</integer>
    <key>public.kern2._V_right</key>
    <integer>-34</integer>
    <key>public.kern2._W_right</key>
    <integer>-22</integer>
    <key>public.kern2._a</key>
    <integer>-8</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-24</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-2</integer>
    <key>public.kern2._y_right</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1._S_left</key>
  <dict>
    <key>Y</key>
    <integer>-42</integer>
    <key>g</key>
    <integer>-13</integer>
    <key>s</key>
    <integer>-8</integer>
    <key>t</key>
    <integer>-9</integer>
    <key>z</key>
    <integer>-14</integer>
    <key>public.kern2._A</key>
    <integer>-15</integer>
    <key>public.kern2._K_right</key>
    <integer>-14</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-42</integer>
    <key>public.kern2._V_right</key>
    <integer>-18</integer>
    <key>public.kern2._W_right</key>
    <integer>-10</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-22</integer>
    <key>public.kern2._y_right</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1._V_left</key>
  <dict>
    <key>f</key>
    <integer>-32</integer>
    <key>g</key>
    <integer>-60</integer>
    <key>m</key>
    <integer>-40</integer>
    <key>n</key>
    <integer>-40</integer>
    <key>p</key>
    <integer>-40</integer>
    <key>r</key>
    <integer>-40</integer>
    <key>s</key>
    <integer>-54</integer>
    <key>t</key>
    <integer>-16</integer>
    <key>u</key>
    <integer>-40</integer>
    <key>w</key>
    <integer>-20</integer>
    <key>z</key>
    <integer>-42</integer>
    <key>public.kern2._A</key>
    <integer>-68</integer>
    <key>public.kern2._J_right</key>
    <integer>-66</integer>
    <key>public.kern2._O_right</key>
    <integer>-34</integer>
    <key>public.kern2._S_right</key>
    <integer>-24</integer>
    <key>public.kern2._a</key>
    <integer>-43</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-22</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-68</integer>
    <key>public.kern2._y_right</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._W_left</key>
  <dict>
    <key>f</key>
    <integer>-20</integer>
    <key>g</key>
    <integer>-44</integer>
    <key>m</key>
    <integer>-32</integer>
    <key>n</key>
    <integer>-32</integer>
    <key>p</key>
    <integer>-32</integer>
    <key>r</key>
    <integer>-32</integer>
    <key>s</key>
    <integer>-45</integer>
    <key>u</key>
    <integer>-32</integer>
    <key>w</key>
    <integer>-18</integer>
    <key>z</key>
    <integer>-36</integer>
    <key>public.kern2._A</key>
    <integer>-70</integer>
    <key>public.kern2._J_right</key>
    <integer>-66</integer>
    <key>public.kern2._O_right</key>
    <integer>-22</integer>
    <key>public.kern2._S_right</key>
    <integer>-20</integer>
    <key>public.kern2._a</key>
    <integer>-36</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-26</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-46</integer>
    <key>public.kern2._y_right</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._Ycyr_left1</key>
  <dict>
    <key>Decyr</key>
    <integer>-46</integer>
    <key>Efcyr</key>
    <integer>-49</integer>
    <key>Elcyr</key>
    <integer>-47</integer>
    <key>Ereversedcyr</key>
    <integer>-16</integer>
    <key>Ljecyr</key>
    <integer>-40</integer>
    <key>Zecyr</key>
    <integer>-22</integer>
    <key>becyr</key>
    <integer>-60</integer>
    <key>checyr</key>
    <integer>-60</integer>
    <key>decyr</key>
    <integer>-88</integer>
    <key>elcyr</key>
    <integer>-90</integer>
    <key>emcyr</key>
    <integer>-60</integer>
    <key>encyr</key>
    <integer>-60</integer>
    <key>ercyr</key>
    <integer>-60</integer>
    <key>ereversedcyr</key>
    <integer>-74</integer>
    <key>hardcyr</key>
    <integer>-40</integer>
    <key>icyr</key>
    <integer>-60</integer>
    <key>ishortcyr</key>
    <integer>-60</integer>
    <key>kacyr</key>
    <integer>-60</integer>
    <key>pecyr</key>
    <integer>-60</integer>
    <key>shacyr</key>
    <integer>-60</integer>
    <key>shchacyr</key>
    <integer>-60</integer>
    <key>softcyr</key>
    <integer>-60</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>tsecyr</key>
    <integer>-60</integer>
    <key>vecyr</key>
    <integer>-60</integer>
    <key>yacyr</key>
    <integer>-70</integer>
    <key>ylongcyr</key>
    <integer>-70</integer>
    <key>yucyr</key>
    <integer>-60</integer>
    <key>zecyr</key>
    <integer>-80</integer>
    <key>public.kern2._A</key>
    <integer>-68</integer>
    <key>public.kern2._Geupcyr_right</key>
    <integer>-60</integer>
    <key>public.kern2._J_right</key>
    <integer>-130</integer>
    <key>public.kern2._O_right</key>
    <integer>-33</integer>
    <key>public.kern2._S_right</key>
    <integer>-40</integer>
    <key>public.kern2._a</key>
    <integer>-63</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-72</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-92</integer>
    <key>public.kern2._y_right</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._a_left</key>
  <dict>
    <key>Y</key>
    <integer>-68</integer>
    <key>f</key>
    <integer>-6</integer>
    <key>question</key>
    <integer>-50</integer>
    <key>t</key>
    <integer>-10</integer>
    <key>w</key>
    <integer>-18</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-58</integer>
    <key>public.kern2._O_right</key>
    <integer>-6</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-56</integer>
    <key>public.kern2._V_right</key>
    <integer>-54</integer>
    <key>public.kern2._W_right</key>
    <integer>-40</integer>
    <key>public.kern2._y_right</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1._c_left</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-30</integer>
    <key>Y</key>
    <integer>-88</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-24</integer>
    <key>yacyr</key>
    <integer>-8</integer>
    <key>public.kern2._A</key>
    <integer>-18</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-69</integer>
    <key>public.kern2._K_right</key>
    <integer>-20</integer>
    <key>public.kern2._O_right</key>
    <integer>-8</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-74</integer>
    <key>public.kern2._V_right</key>
    <integer>-60</integer>
    <key>public.kern2._W_right</key>
    <integer>-38</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-12</integer>
    <key>public.kern2._y_right</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._hardcyr2_left</key>
  <dict>
    <key>Checyr</key>
    <integer>-60</integer>
    <key>Efcyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-90</integer>
    <key>Yacyr</key>
    <integer>-20</integer>
    <key>braceright</key>
    <integer>-56</integer>
    <key>checyr</key>
    <integer>-16</integer>
    <key>elcyr</key>
    <integer>-6</integer>
    <key>hardcyr</key>
    <integer>-30</integer>
    <key>parenright</key>
    <integer>-21</integer>
    <key>question</key>
    <integer>-80</integer>
    <key>tecyr</key>
    <integer>-33</integer>
    <key>public.kern2._K_right</key>
    <integer>-30</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-98</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-28</integer>
    <key>public.kern2._y_right</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1._k_leftside</key>
  <dict>
    <key>Efcyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-54</integer>
    <key>ereversedcyr</key>
    <integer>-12</integer>
    <key>g</key>
    <integer>-6</integer>
    <key>parenright</key>
    <integer>-14</integer>
    <key>question</key>
    <integer>-10</integer>
    <key>s</key>
    <integer>-18</integer>
    <key>u</key>
    <integer>-12</integer>
    <key>zecyr</key>
    <integer>-16</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-66</integer>
    <key>public.kern2._J_right</key>
    <integer>-40</integer>
    <key>public.kern2._O_right</key>
    <integer>-36</integer>
    <key>public.kern2._S_right</key>
    <integer>-19</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-72</integer>
    <key>public.kern2._V_right</key>
    <integer>-30</integer>
    <key>public.kern2._W_right</key>
    <integer>-26</integer>
    <key>public.kern2._a</key>
    <integer>-12</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1._o_leftside</key>
  <dict>
    <key>Checyr</key>
    <integer>-50</integer>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-80</integer>
    <key>Y</key>
    <integer>-96</integer>
    <key>Yacyr</key>
    <integer>-20</integer>
    <key>braceright</key>
    <integer>-20</integer>
    <key>checyr</key>
    <integer>-5</integer>
    <key>decyr</key>
    <integer>-14</integer>
    <key>elcyr</key>
    <integer>-12</integer>
    <key>f</key>
    <integer>-2</integer>
    <key>g</key>
    <integer>-6</integer>
    <key>hardcyr</key>
    <integer>-8</integer>
    <key>parenright</key>
    <integer>-10</integer>
    <key>question</key>
    <integer>-62</integer>
    <key>tecyr</key>
    <integer>-14</integer>
    <key>w</key>
    <integer>-19</integer>
    <key>yacyr</key>
    <integer>-4</integer>
    <key>z</key>
    <integer>-2</integer>
    <key>zecyr</key>
    <integer>-9</integer>
    <key>public.kern2._A</key>
    <integer>-26</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-80</integer>
    <key>public.kern2._J_right</key>
    <integer>-12</integer>
    <key>public.kern2._K_right</key>
    <integer>-28</integer>
    <key>public.kern2._O_right</key>
    <integer>-2</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-92</integer>
    <key>public.kern2._V_right</key>
    <integer>-68</integer>
    <key>public.kern2._W_right</key>
    <integer>-48</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-32</integer>
    <key>public.kern2._y_right</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1._plecho2_left</key>
  <dict>
    <key>Checyr</key>
    <integer>-34</integer>
    <key>Djecyr</key>
    <integer>-50</integer>
    <key>Efcyr</key>
    <integer>-28</integer>
    <key>Hardcyr</key>
    <integer>-34</integer>
    <key>Tshecyr</key>
    <integer>-30</integer>
    <key>becyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-22</integer>
    <key>tecyr</key>
    <integer>-40</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-30</integer>
    <key>public.kern2._J_right</key>
    <integer>-20</integer>
    <key>public.kern2._O_right</key>
    <integer>-16</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-26</integer>
    <key>public.kern2._a</key>
    <integer>-8</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-10</integer>
    <key>public.kern2._y_right</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1._plecho_left</key>
  <dict>
    <key>Checyr</key>
    <integer>-50</integer>
    <key>Efcyr</key>
    <integer>-30</integer>
    <key>Hardcyr</key>
    <integer>-60</integer>
    <key>becyr</key>
    <integer>-12</integer>
    <key>checyr</key>
    <integer>-29</integer>
    <key>parenright</key>
    <integer>6</integer>
    <key>question</key>
    <integer>-47</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-80</integer>
    <key>public.kern2._O_right</key>
    <integer>-30</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-80</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1._s_left</key>
  <dict>
    <key>Y</key>
    <integer>-78</integer>
    <key>question</key>
    <integer>-50</integer>
    <key>w</key>
    <integer>-14</integer>
    <key>public.kern2._A</key>
    <integer>-19</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-60</integer>
    <key>public.kern2._K_right</key>
    <integer>-12</integer>
    <key>public.kern2._V_right</key>
    <integer>-54</integer>
    <key>public.kern2._W_right</key>
    <integer>-45</integer>
    <key>public.kern2._k_rightside</key>
    <integer>-18</integer>
    <key>public.kern2._y_right</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1._y_left</key>
  <dict>
    <key>Decyr</key>
    <integer>-40</integer>
    <key>Hardcyr</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-50</integer>
    <key>Z</key>
    <integer>-60</integer>
    <key>braceright</key>
    <integer>-30</integer>
    <key>g</key>
    <integer>-29</integer>
    <key>parenright</key>
    <integer>-30</integer>
    <key>s</key>
    <integer>-19</integer>
    <key>zecyr</key>
    <integer>-28</integer>
    <key>public.kern2._A</key>
    <integer>-66</integer>
    <key>public.kern2._Geupcyr2_right</key>
    <integer>-74</integer>
    <key>public.kern2._J_right</key>
    <integer>-60</integer>
    <key>public.kern2._K_right</key>
    <integer>-54</integer>
    <key>public.kern2._O_right</key>
    <integer>-16</integer>
    <key>public.kern2._S_right</key>
    <integer>-12</integer>
    <key>public.kern2._Ucyr</key>
    <integer>-50</integer>
    <key>public.kern2._V_right</key>
    <integer>-20</integer>
    <key>public.kern2._W_right</key>
    <integer>-20</integer>
    <key>public.kern2._a</key>
    <integer>-16</integer>
    <key>public.kern2._o_rightside</key>
    <integer>-24</integer>
  </dict>
</dict>
</plist>
