<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>n</string>
    <string>o</string>
    <string>t</string>
    <string>N</string>
    <string>H</string>
    <string>O</string>
    <string>h</string>
    <string>u</string>
    <string>d</string>
    <string>b</string>
    <string>p</string>
    <string>q</string>
    <string>c</string>
    <string>e</string>
    <string>a</string>
    <string>g</string>
    <string>l</string>
    <string>i</string>
    <string>f</string>
    <string>s</string>
    <string>r</string>
    <string>j</string>
    <string>m</string>
    <string>k</string>
    <string>v</string>
    <string>y</string>
    <string>z</string>
    <string>w</string>
    <string>x</string>
    <string>acyr</string>
    <string>iecyr</string>
    <string>ocyr</string>
    <string>ercyr</string>
    <string>escyr</string>
    <string>ucyr</string>
    <string>pecyr</string>
    <string>hacyr</string>
    <string>icyr</string>
    <string>encyr</string>
    <string>tsecyr</string>
    <string>elcyr</string>
    <string>decyr</string>
    <string>CR</string>
    <string>efcyr</string>
    <string>checyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>tecyr</string>
    <string>gecyr</string>
    <string>kacyr</string>
    <string>zhecyr</string>
    <string>softcyr</string>
    <string>becyr</string>
    <string>period</string>
    <string>comma</string>
    <string>E</string>
    <string>L</string>
    <string>F</string>
    <string>T</string>
    <string>P</string>
    <string>D</string>
    <string>C</string>
    <string>G</string>
    <string>S</string>
    <string>M</string>
    <string>emcyr</string>
    <string>Encyr</string>
    <string>Icyr</string>
    <string>Pecyr</string>
    <string>Tsecyr</string>
    <string>Elcyr</string>
    <string>Decyr</string>
    <string>Emcyr</string>
    <string>W</string>
    <string>V</string>
    <string>ishortcyr</string>
    <string>Ocyr</string>
    <string>Efcyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Iecyr</string>
    <string>Tecyr</string>
    <string>Checyr</string>
    <string>A</string>
    <string>Acyr</string>
    <string>B</string>
    <string>Ishortcyr</string>
    <string>ylongcyr</string>
    <string>Y</string>
    <string>Vecyr</string>
    <string>Softcyr</string>
    <string>Becyr</string>
    <string>Ucyr</string>
    <string>Gecyr</string>
    <string>X</string>
    <string>U</string>
    <string>R</string>
    <string>Hacyr</string>
    <string>K</string>
    <string>Kacyr</string>
    <string>Zhecyr</string>
    <string>Q</string>
    <string>Z</string>
    <string>I</string>
    <string>J</string>
    <string>hardcyr</string>
    <string>vecyr</string>
    <string>ereversedcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>yucyr</string>
    <string>Zecyr</string>
    <string>zecyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>yacyr</string>
    <string>breve</string>
    <string>exclam</string>
    <string>Geupcyr</string>
    <string>Eukrcyr</string>
    <string>Iukrcyr</string>
    <string>Yukrcyr</string>
    <string>geupcyr</string>
    <string>eukrcyr</string>
    <string>iukrcyr</string>
    <string>yukrcyr</string>
    <string>iocyr</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>hyphen</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>braceright</string>
    <string>braceleft</string>
    <string>backslash</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>bar</string>
    <string>grave</string>
    <string>asciitilde</string>
    <string>yukrcyr_yukrcyr</string>
    <string>space</string>
    <string>Yukrcyr_Yukrcyr</string>
    <string>iukrcyr_yukrcyr</string>
    <string>Iocyr</string>
    <string>Dzecyr</string>
    <string>dzecyr</string>
    <string>jecyr</string>
    <string>a.ss01</string>
    <string>acyr.ss01</string>
    <string>Dzhecyr</string>
    <string>dzhecyr</string>
    <string>Jecyr</string>
    <string>ushortcyr</string>
    <string>Djecyr</string>
    <string>Tshecyr</string>
    <string>djecyr</string>
    <string>tshecyr</string>
    <string>gjecyr</string>
    <string>kjecyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>ljecyr</string>
    <string>njecyr</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>quotedblleft</string>
    <string>quoteright</string>
    <string>periodcentered</string>
    <string>quotedblbase</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>apostrophemod</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotright</string>
    <string>guillemotleft</string>
    <string>endash</string>
    <string>emdash</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>quotesinglbase</string>
    <string>macronmod</string>
    <string>cedilla</string>
    <string>tilde</string>
    <string>ogonek</string>
    <string>g.ss02</string>
    <string>edieresis</string>
    <string>ntilde</string>
    <string>acircumflex</string>
    <string>ecircumflex</string>
    <string>agrave</string>
    <string>odieresis</string>
    <string>ring</string>
    <string>dotlessi</string>
    <string>aring</string>
    <string>Ccedilla</string>
    <string>ccedilla</string>
    <string>aacute</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>zcaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>perthousand</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>idieresis</string>
    <string>thorn</string>
    <string>Thorn</string>
    <string>cent</string>
    <string>ae</string>
    <string>oe</string>
    <string>Oslash</string>
    <string>multiply</string>
    <string>divide</string>
    <string>Eth</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>yen</string>
    <string>micro</string>
    <string>eth</string>
    <string>ellipsis</string>
    <string>oslash</string>
    <string>plusminus</string>
    <string>onesuperior</string>
    <string>copyright</string>
    <string>threesuperior</string>
    <string>twosuperior</string>
    <string>Euro</string>
    <string>ordfeminine</string>
    <string>J.1</string>
    <string>sterling</string>
    <string>ruble</string>
    <string>hryvnia</string>
    <string>iegravecyr</string>
    <string>Iegravecyr</string>
    <string>Gjecyr</string>
    <string>Kjecyr</string>
    <string>Ushortcyr</string>
    <string>Igravecyr</string>
    <string>igravecyr</string>
    <string>aogonek</string>
    <string>Aogonek</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>eogonek</string>
    <string>Eogonek</string>
    <string>grave.case</string>
    <string>dieresis.case</string>
    <string>macron.case</string>
    <string>acute.case</string>
    <string>circumflex.case</string>
    <string>caron.case</string>
    <string>breve.case</string>
    <string>dotaccent.case</string>
    <string>ring.case</string>
    <string>tilde.case</string>
    <string>macron</string>
    <string>uni000A</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>icircumflex</string>
    <string>ucircumflex</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>AE</string>
    <string>Lslash</string>
    <string>OE</string>
    <string>lslash</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>ycircumflex</string>
    <string>Ycircumflex</string>
    <string>uring</string>
    <string>ncaron</string>
    <string>tcaron</string>
    <string>agrave.ss01</string>
    <string>aacute.ss01</string>
    <string>acircumflex.ss01</string>
    <string>atilde.ss01</string>
    <string>adieresis.ss01</string>
    <string>aring.ss01</string>
    <string>amacron.ss01</string>
    <string>abreve.ss01</string>
    <string>aogonek.ss01</string>
    <string>gcircumflex.ss02</string>
    <string>gbreve.ss02</string>
    <string>Odieresiscyr</string>
    <string>odieresiscyr</string>
    <string>Idieresiscyr</string>
    <string>idieresiscyr</string>
    <string>Imacroncyr</string>
    <string>imacroncyr</string>
    <string>Zedieresiscyr</string>
    <string>zedieresiscyr</string>
    <string>Ylongdieresiscyr</string>
    <string>ylongdieresiscyr</string>
    <string>schwa</string>
    <string>scedilla</string>
    <string>Schwa</string>
    <string>Scedilla</string>
    <string>cedilla.case</string>
    <string>schwacyr</string>
    <string>Schwacyr</string>
    <string>Schwadieresiscyr</string>
    <string>schwadieresiscyr</string>
    <string>section</string>
    <string>minus</string>
    <string>lira</string>
    <string>tenge</string>
    <string>turkishlira</string>
    <string>manat</string>
    <string>zacute</string>
    <string>nacute</string>
    <string>zdotaccent</string>
    <string>sacute</string>
    <string>numero</string>
    <string>uni000D</string>
    <string>Cacute</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>dotlessj</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Nacute</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>ubreve</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>iebrevecyr</string>
    <string>Iebrevecyr</string>
    <string>adieresiscyr</string>
    <string>Adieresiscyr</string>
    <string>abrevecyr</string>
    <string>Abrevecyr</string>
    <string>zhedieresiscyr</string>
    <string>Zhedieresiscyr</string>
    <string>obarcyr</string>
    <string>Obarcyr</string>
    <string>dotaccentsmoll</string>
    <string>Idotaccent</string>
    <string>dotaccentsmoll.case</string>
    <string>brevecyr</string>
    <string>brevecyr.case</string>
    <string>abrevecyr.ss01</string>
    <string>adieresiscyr.ss01</string>
    <string>gdotaccent.ss02</string>
  </array>
</dict>
</plist>
