<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1010</integer>
  <key>capHeight</key>
  <integer>700</integer>
  <key>copyright</key>
  <string>Copyright 2023 The NT Somic project</string>
  <key>descender</key>
  <integer>-200</integer>
  <key>familyName</key>
  <string>NT Somic</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>765</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2023/09/05 17:47:54</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>750</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-250</integer>
  <key>openTypeHheaLineGap</key>
  <integer>100</integer>
  <key>openTypeNameDescription</key>
  <string>It is a fresh, simple workhorse typeface. Its clean and minimalist design is made to be used everywhere: in headlines, small size texts, credits and any other place you would like to add a little bit of simplicity.

NT Somic comes in 4 weights from Regular to Bold, and is also variable. Currently it consists of basic Latin and Cyrillic sets of glyphs and supports a couple of OpenType features such as alternate single storey -a- and ligatures for Ukrainian language.

Give yourself a fresh look at design with NT Somic, free of charge. This versatile typeface is a blank slate, perfect for almost* any scenario.

*Note that it is still under development, next planned additions are: Extended Latin set, Extended Cyrillic set, more currencies, additional sets of numbers and alternates.

If you&#39;d like to send us any early projects that are using NT Somic, we would really appreciate it! Those would be great examples of how the font works in practice. We also would be more than happy if you could let us know if you do find any bugs or problems with the fonts, so we can fix them before anyone else stumbles upon them.

One last thing: please don&#39;t distribute the font itself to any websites or other third parties; if someone asks for it, please direct them here.

We look forward to hearing from you!</string>
  <key>openTypeNameDesigner</key>
  <string>Ravid Balaliev — lead type designer, mastering
Michael Voronin — secret advisor, marketing
Ivan Kovalenko — best boy</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://t.me/nnttttyyppee</string>
  <key>openTypeNameLicense</key>
  <string>Copyright 2023 The NT Somic Project Authors (https://github.com/nnttttyyppee/NT-Somic)

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
https://scripts.sil.org/OFL
</string>
  <key>openTypeNameManufacturer</key>
  <string>NT Type</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>NT Somic</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Bold</string>
  <key>openTypeNameVersion</key>
  <string>Version 0.7</string>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>300</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>1010</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-200</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>100</integer>
  <key>openTypeOS2VendorID</key>
  <string>NNTT</string>
  <key>openTypeOS2WeightClass</key>
  <integer>700</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>800</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>200</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFontName</key>
  <string>NTSomic-Bold</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>NT Somic Bold</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Bold</string>
  <key>styleMapFamilyName</key>
  <string>NT Somic</string>
  <key>styleMapStyleName</key>
  <string>bold</string>
  <key>styleName</key>
  <string>Bold</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>0</integer>
  <key>versionMinor</key>
  <integer>7</integer>
  <key>xHeight</key>
  <integer>500</integer>
</dict>
</plist>
